@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./mac.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: url("./img.webp");
  }
}
.gooey-selected {
  -webkit-tap-highlight-color: transparent;
}

.modal-backdrop{
  backdrop-filter: blur(5px);
}